<template>
  <div class="d-flex flex-row flex-wrap">
    <BoutiqueProduit v-for="produit in produits" :key="produit.id" :produit="produit"></BoutiqueProduit>
  </div>
</template>

<script>
import BoutiqueProduit from "./BoutiqueProduit";

export default {
  components:{
    BoutiqueProduit
  },
  props: [ 'produits' ]
}
</script>

<style>
</style>
