<template>
  <BoutiqueListeProduits :produits="produits"></BoutiqueListeProduits>
</template>

<script>
import BoutiqueListeProduits from "./BoutiqueListeProduits";
import { eventBus } from "../../main";

export default {
  components:{
    BoutiqueListeProduits
  },
  data() {
    return {
      produits: []
    }
  },
  created() {
    this.produits = eventBus.produits;
   
  }
}
</script>

<style>
</style>
