<template>
  <div class="w-25 p-3 produit-container d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
      <img style="height: 150px" :src="produit.img">
    </div>    
    <div>
      <h3>{{ produit.titre }}</h3>
      <hr>
    </div>
    <div>
      <p>{{ produit.description }}</p>
    </div>
    <div>
      <span>{{ produit.prix }}</span>
      <button @click="ajouterProduitAuPanier" class="btn btn-primary btn-sm float-right">Commander</button>
    </div>

  </div>
</template>

<script>
import {eventBus} from "../../main";

export default {
  props: ['produit'],
  methods: {
    ajouterProduitAuPanier() {
      eventBus.ajouterProduitAuPanier({ ...this.produit });
    }
  }
}
</script>

<style>
.produit-container {
  height: 400px
}
p {
  font-size: 12px;
}
</style>
