<template>
	<div class="d-flex flex-row">
      <boutique class="w-75"></boutique>
      <Panier class="w-25"></Panier>
    </div>
</template>

<script>
import Boutique from './Boutique/Boutique.vue';
import Panier from './Panier/Panier.vue';

export default {
  components: {
    Boutique,
    Panier
  }
  
}
</script>