<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png"  width="30" height="30"/>
      IFPA
    </a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="boutique">Boutique</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="panier">Panier</router-link>
        </li>
      </ul>
    </div>
  </nav>

</template>

<script>

export default {
}
</script>

<style>
</style>
