<template>
  <div class="d-flex flex-column p-5">
    <h5 class="border-bottom pb-3">Mon panier</h5>
    <div v-if="this.$route.name === 'panier'">
      <RecapPanierProduit v-for="item in panier" :key="item.id" :item="item"></RecapPanierProduit>
    </div>
    <div v-else-if="this.$route.name === 'boutique'">
      <PanierProduit v-for="item in panier" :key="item.id" :item="item"></PanierProduit>
    </div>
    <hr class="w-100">
  </div>
</template>

<script>
import PanierProduit from "./PanierProduit";
import RecapPanierProduit from "./RecapPanierProduit";

export default {
  components:{
    PanierProduit,
    RecapPanierProduit
  },
  props: [ 'panier' ]
}
</script>

<style>
</style>
