<template>
  <PanierListeProduits :panier="panier"></PanierListeProduits>
</template>

<script>
import PanierListeProduits from "./PanierListeProduits";
import { eventBus } from "../../main";

export default {
  components:{
    PanierListeProduits
  },
  data() {
    return {
      panier: []
    }
  },
  created() {
    this.panier = eventBus.panier;
    eventBus.$on('update:panier', (panier) =>{
      this.panier = panier;
    })
  }
}
</script>

<style>
</style>
