<template>
  <div class="d-flex flex-row justify-content-between p-2">
    <div class="d-flex flex-column justify-content-center">
      <img style="height: 150px" :src="item.img">
      <hr>
      <h3>{{ item.titre }}</h3>
    </div>    
    <div>
      <p>{{ item.description }}</p>
    </div>
    <div>
      <span>{{ item.prix }}</span>
    </div>
    <div>
      <button @click="retirerProduitDuPanier" class="close">
        <span>&times;</span>
      </button>
    </div>
  </div>
</template>

<script>

import { eventBus } from '../../main'

export default {
  props: ['item'],
  methods: {
    retirerProduitDuPanier() {
      eventBus.retirerProduitDuPanier({...this.item});
    }
  }
}
</script>

<style>
</style>
